/* COLORES PRINCIPALES */
    /* Color Theme Swatches in Hex */
    .js-1-hex { color: #FF7F4D; }
    .js-2-hex { color: #E6C847; }
    .js-3-hex { color: #8CFA7D; }
    .js-4-hex { color: #66D2E3; }
    .js-5-hex { color: #A582FF; }

/* TONOS DE ROJO */
    /* Color Theme Swatches in Hex */
    .js-r-1-hex { color: #FF7F4D; }
    .js-r-2-hex { color: #7A3D25; }
    .js-r-3-hex { color: #FA7D4B; }
    .js-r-4-hex { color: #3B1D12; }
    .js-r-5-hex { color: #E07043; }

/* TONOS DE AMARILLO */
    /* Color Theme Swatches in Hex */
    .js-a-1-hex { color: #EBCD49; }
    .js-a-2-hex { color: #665920; }
    .js-a-3-hex { color: #E6C847; }
    .js-a-4-hex { color: #F2D44B; }
    .js-a-5-hex { color: #CCB23F; }

/* TONOS DE VERDE */
    /* Color Theme Swatches in Hex */
    .js-v-1-hex { color: #8EFF80; }
    .js-v-2-hex { color: #447A3D; }
    .js-v-3-hex { color: #8CFA7D; }
    .js-v-4-hex { color: #213B1D; }
    .js-v-5-hex { color: #7DE070; }

/* TONOS DE CELESTE */
    /* Color Theme Swatches in Hex */
    .js-c-1-hex { color: #68D7E8; }
    .js-c-2-hex { color: #2D5C63; }
    .js-c-3-hex { color: #66D2E3; }
    .js-c-4-hex { color: #6CDEF0; }
    .js-c-5-hex { color: #5BBBC9; }

/* TONOS DE VIOLETA */
    .js-vi-1-hex { color: #241D38; }
    .js-vi-2-hex { color: #534180; }
    .js-vi-3-hex { color: #A582FF; }
    .js-vi-4-hex { color: #292140; }
    .js-vi-5-hex { color: #9575E6; }
