@import '../bulma/bulma.sass';
@import '_colores';
@import '_tipografias';
@import '_mq';
@import 'index';

html {
    font-size: 62.5%;
}

a {
    color: #FF7F4D;
    &:hover {
        color: #A582FF !important;
    }
}